:root{
    --fc: #fff;
    --fc_purple: #D136D1;
    --btn_gra: linear-gradient(to right, #c41a7f, #664bbf);
    --btn_bg:  #DD118E;
    --bg-gra: linear-gradient(135deg, #0E002E 0%, #1E092B 25%, #320C65 50%, #A01B7C 75%, #C21780 100%);
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Montserrat','Noto Serif JP Bold', sans-serif;
    font-feature-settings: "palt" 1;
}
/* ------------各コンテンツで使用------------ */
.container{
    max-width: 1110px;
    margin: 0 auto;
    padding: 0 0 110px 0;
}
.flex{
    display: flex;
}
/* 各コンテンツのタイトル */
.content__title-box{
    padding: 110px 0 60px;
    text-align: center;
}
.content__title{
    font-size: 60px;
    color: var(--fc_purple);
    letter-spacing: .2rem;
    margin: 0 0 5px 0;
}
.content__text{
    font-size: 22px;
    color: var(--fc);
    font-weight: bold;
}
/* --------- */

/* ボタン */
.btn{
    background: var(--btn_gra);
    text-align: center;
    color: var(--fc);
    border-radius: 50px;
    box-shadow: 0 10px var(--btn_bg);
    transition: .3s;
}
.btn:hover{
    transform: translateY(10px);
    box-shadow: none;
}
.m_size{
    width: 300px;
    padding: 27.5px;
}
.s_size{
    width: 230px;
    padding: 22.5px;
}
/* ------- */

/* -----------header----- */
.h__container{
    width: 100%;
    height: 90px;
    padding: 0 30px;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    
}
.h__wdc{
    font-size: 28px;
    color: var(--fc_purple);
    line-height: 90px;
    text-align: center;
    font-weight: bold;
}
.h__nav{
    margin: 0 0 0 auto;
}
.h__list{
    display: flex;
    gap: 30px;
}
.h_list__item{
    font-size: 16px;
    color: var(--fc);
    line-height: 90px;
    text-align: center;
}

/* -----------mv-------- */
.mv{
    height: 700px;
    background: var(--bg-gra);
}
.mv-container{
    display: flex;
    max-width: 1110px;
    margin: 0 auto;
}
.mv__box__text{
    padding:145px 0;
}
.mv__caption{
    font-size: 24px;
    color: var(--fc_purple);
}
.mv__title{
    font-size: 100px;
    color: var(--fc);
}
.mv__content__box{
    display: flex;
}
.mv__content__time-btn-box{
    margin: 0 10px 0 0;
}
.mv__time{
    font-size: 36px;
    padding: 0 0 30px 0;
    color: var(--fc);
}
.mv_content__img__turn{
    transform: rotate(-0.036turn);
}
.mv__box__img{
    position: relative;
    height: 700px;
}
.mv__img{
    height: 100%;
}
.mv__img__text-box{
    position: absolute;
    bottom: 20px;
    right: 110px;
    z-index: 2;
}
.mv__content__img__name{
    color: var(--fc);
    font-size: 21px;
    margin: 0 0 5px 0;
    letter-spacing: -.2rem;
}
.mv__content__img__job{
    color: var(--fc);
    font-size: 14px;
}

/* -----------about-------- */
#about{
    background-color: #141414;
}
.about__box__img{
    background-image: url(../img/about.jpg);
    width: 445px;
    height: 650px;
}
.about__box__text{
    padding: 90px 0 90px 70px;
    max-width: 665px;
}
.about__theme{
    font-size: 24px;
    color: var(--fc);
    font-weight: bold;
    margin: 0 0 25px 0;
}
.about__title{
    font-size: 48px;
    color: var(--fc_purple);
    margin: 0 0 50px 0;
}
.about__description{
    font-size: 18px;
    line-height: 2rem;
    letter-spacing: .025rem;
    color: var(--fc);
    margin: 0 0 25px 0;
}
.about__list{
    font-size: 16px;
    line-height: 2rem;
    letter-spacing: .05rem;
    color: var(--fc);
    margin: 0 0 25px 0;
}
.about__list__item{
    display: flex;
}
.about__list__item__title{
    margin: 0 20px 0 0;
}

/* -----------speaker-------- */
#speaker{
    background: var(--bg-gra);
}
.speaker__content-box{
    display: flex;
    gap: 60px;
    margin: 0 0 60px;
}
.speaker__content-box__text{
    max-width: 605px;
}
.speaker__name-en{
    font-size: 42px;
    color: var(--fc_purple);
    letter-spacing: .1rem;
    padding: 0 0 5px;
}
.speaker__name-ja{
    font-size: 18px;
    color: var(--fc);
    margin: 0 0 30px;
}
.speaker__description{
    font-size: 16px;
    color: var(--fc);
    line-height: 1.75rem;
}
.speaker__content-box__img{
    width: 445px;
    height: 460px;
    background-position: center;
    background-size: cover;
}
.sean{
    background-image: url(../img/sean.jpg); 
}
.mihoko{
    background-image: url(../img/mihoko.jpg); 
}
.jecica{
    background-image: url(../img/jecica.jpg); 
}

/* --------------session----------- */
#session{
    background-color: #141414;
}
.session__plan{
    display: flex;
    padding: 45px 30px;
    border-bottom: 1px solid var(--fc_purple);
    gap: 140px;
}
.session__plan__time{
    font-size: 22px;
    color: var(--fc);
}
.session__plan__title{
    font-size: 22px;
    color: var(--fc_purple);
    margin: 0 0 15px;
}
.session__plan__speaker, .session__plan__text{
    font-size: 16px;
    color: var(--fc);
}
.session__plan__speaker{
    padding: 0 0 5px;
}

/* --------------registor----------- */
#registor{
    background-image: url(../img/リピートグリッド\ 3.jpg);
    padding: 0 0 110px;
}
.registor__container{
    max-width: 970px;
    background-color: #1a1a1a;
    margin: 0 auto;
    padding: 85px 90px;
    border-radius: 20px;
    border: 5px solid var(--fc_purple);
}
.registor__form-item{
    margin: 0 0 40px;
}
.registor__label{
    color: var(--fc);
    font-size: 16px;
    letter-spacing: .1rem;
    display: block;
    padding: 0 0 10px;
    margin: 0 30px 0 0;
}
.registor__label__required{
    font-size: 12px;
    color: var(--fc_purple);
    padding: 0 0 0 30px;
}
.radio-font{
    font-size: 16px;
    color: var(--fc);
    padding: 0 30px 0 0;
}
.radio-font input{
    margin: 3px;
}
.form-control{
    border-radius: 3px;
    padding: 13px 27px;
    width: 300px;
}
.textarea-control{
    border-radius: 3px;
    padding: 13px 27px;
}

/* --------------footer----------- */
footer{
    height: 160px;
    background-color: #141414;
    text-align: center;
    color: var(--fc);
    position: relative;
}
.footer__copy{
    line-height: 160px;
}
.footer__link{
    position: absolute;
    right: 20px;
    bottom: 40px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: var(--btn_gra);
}
.footer__icon-size{
    font-size: 40px;
    line-height: 80px;
}
