//-- 色 --
$cPink: #EB51C2;
$cGreen: #00B21B;
$cBlack: #111111;
$cWhite: #fff;

// breakpoint
$sp: 600px;
$md: 1025px;

.content-container{
    margin: 0 auto;
    padding: 0 20px;

    &__pg-lg{
        padding: 0 30px;
    }
}


.btn{
    font-size: 13px;
    width: 300px;
    height: 53px;
    border: none;
    font-weight: 400;
    border-radius: 30px;
    background-color: $cPink;
    color: $cWhite;
}

.card{
    width: 100%;
    padding: 40px 30px;
    border-radius: 3%;
    background-color: $cWhite;
    box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.1);
}

// trainer-card
.trainer-card{
    width: 100%;
    background-color: $cWhite;
    border-radius: 3%;
    overflow: hidden;
    margin-bottom: 15px;

    &:last-child{
        margin-bottom: 0;
    }
}
.trainer-img{
    width: 100%;
}
.trainer-description{
    font-family: 'Noto Sans JP';
    font-size: 14px;
    padding: 20px 20px 35px;
}

.slide-btn{
    height: 40px !important;
    width: 40px !important;
    border-radius: 50%;
    background-color: $cWhite;
}

.slide-btn-after{
    font-size: 10px !important;
    font-weight: 700;
    color: $cPink;
}

