// color
$cWhite: #fff;
$cBlack: #000;
$cSkyBlue: #00fff5;

.content-container{
    max-width: 1110px;
    width: 95%;
    margin: 0 auto;
}

.btn{
    width: 230px;
    height: 60px;
    background-color: $cSkyBlue;
    text-align: center;

    & > a{
        font-size: 18px;
        font-weight: bold;
        color: $cBlack;
        line-height: 100%;
    }
}

.btn-sm{
    @extend .btn;
    width: 164px;
    height: 45px;

    & > a{
        font-size: 15px;
    }
}

.content-title{
    position: relative;
    font-size: 80px;
    font-weight: bold;
    letter-spacing: 0.1em;
    padding-bottom: 28px;

    &::after{
        content: "";
        position: absolute;
        top: 100px;
        left: 0;
        height: 8px;
        width: 13%;
        background-color: $cSkyBlue;
    }
}