.content-container {
  max-width: 1110px;
  width: 95%;
  margin: 0 auto;
}

.btn, .btn-sm, .header__btn {
  width: 230px;
  height: 60px;
  background-color: #00fff5;
  text-align: center;
}
.btn > a, .btn-sm > a, .header__btn > a {
  font-size: 18px;
  font-weight: bold;
  color: #000;
  line-height: 100%;
}

.btn-sm, .header__btn {
  width: 164px;
  height: 45px;
}
.btn-sm > a, .header__btn > a {
  font-size: 15px;
}

.content-title, .story__heding {
  position: relative;
  font-size: 80px;
  font-weight: bold;
  letter-spacing: 0.1em;
  padding-bottom: 28px;
}
.content-title::after, .story__heding::after {
  content: "";
  position: absolute;
  top: 100px;
  left: 0;
  height: 8px;
  width: 13%;
  background-color: #00fff5;
}

body {
  font-family: "Exo", "Noto Sans JP", sans-serif;
}

.bgParallax {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -10;
}
.bgParallax::before {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.5) 50%);
  background-size: 4px 4px;
}
.bgParallax > video {
  position: absolute;
  top: 50%;
  left: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
}

.header {
  width: 100%;
  height: 100px;
  padding: 25px 40px 0 30px;
  position: fixed;
  z-index: 100;
}
.header__container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.header__logo {
  font-size: 20px;
  font-weight: bold;
  color: #00fff5;
  display: flex;
  align-items: center;
  letter-spacing: 0.1em;
}
.header__ul {
  display: flex;
  gap: 30px;
}
.header__item {
  font-size: 16px;
  color: #00fff5;
  display: flex;
  align-items: center;
}
.header__sound {
  font-size: 13px;
  text-align: end;
}
.header__sound .sound-off {
  color: #bfbfbf;
  display: block;
}
.header__sound .sound-on {
  color: #fff;
  display: none;
}
.header__sound.active .sound-off {
  display: none;
}
.header__sound.active .sound-on {
  display: block;
}

.mv {
  position: relative;
  width: 100%;
  height: 100vh;
}
.mv__content {
  padding: 220px 0 0 140px;
}
.mv__genre {
  font-size: 32px;
  font-weight: bold;
  color: #fff;
  letter-spacing: 0.3em;
  margin-bottom: 30px;
}
.mv__title {
  font-family: "Exo";
  font-weight: bold;
  font-size: 130px;
  color: #fff;
  line-height: 1em;
  letter-spacing: 0.1em;
}
.mv__title-jp {
  font-size: 34px;
  margin: 5px 0 30px;
  color: #fff;
  letter-spacing: 1em;
}
.mv > svg {
  position: absolute;
  bottom: 0;
  right: 0;
}

.story {
  width: 100%;
  background-image: url(assets/bg_story.svg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 138px 0;
}
.story__container {
  max-width: 1110px;
  width: 100%;
  margin: 0 auto 100px;
  padding: 0 30px;
  display: flex;
  align-items: center;
  -moz-column-gap: 80px;
       column-gap: 80px;
}
.story__container:last-child {
  margin: 0 auto;
}
.story__text-box {
  color: #fff;
  width: 50%;
}
.story__heding {
  color: #00fff5;
}
.story__title {
  font-size: 32px;
  font-weight: bold;
  padding-top: 40px;
}
.story__description {
  font-size: 16px;
  letter-spacing: 0.1em;
  line-height: 1.5em;
  padding-top: 40px;
}
.story__img > img {
  max-width: 100%;
  display: inline-block;
  transform: skewX(-5deg);
  box-shadow: 10px 10px #00fff5;
}
.story__img > img.reverse {
  transform: skewX(5deg);
  box-shadow: 10px 10px #00fff5;
}/*# sourceMappingURL=style.css.map */