.content-container, .mv, .feature__card-container, .trainer__continer, .price__container {
  margin: 0 auto;
  padding: 0 20px;
}
.content-container__pg-lg, .studio__container, .price__title-container {
  padding: 0 30px;
}

.btn, .header .btn, .mv .btn {
  font-size: 13px;
  width: 300px;
  height: 53px;
  border: none;
  font-weight: 400;
  border-radius: 30px;
  background-color: #EB51C2;
  color: #fff;
}

.card, .feature__card__training, .feature__card__food {
  width: 100%;
  padding: 40px 30px;
  border-radius: 3%;
  background-color: #fff;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
}

.trainer-card, .trainer__card, .staff__card {
  width: 100%;
  background-color: #fff;
  border-radius: 3%;
  overflow: hidden;
  margin-bottom: 15px;
}
.trainer-card:last-child, .trainer__card:last-child, .staff__card:last-child {
  margin-bottom: 0;
}

.trainer-img, .trainer__img, .staff__img {
  width: 100%;
}

.trainer-description, .trainer__description, .staff__description {
  font-family: "Noto Sans JP";
  font-size: 14px;
  padding: 20px 20px 35px;
}

.slide-btn, .studio .swiper-button-prev, .studio .swiper-button-next {
  height: 40px !important;
  width: 40px !important;
  border-radius: 50%;
  background-color: #fff;
}

.slide-btn-after, .studio .swiper-button-prev::after, .studio .swiper-button-next::after {
  font-size: 10px !important;
  font-weight: 700;
  color: #EB51C2;
}

body {
  font-family: "Josefin Sans", "Noto Sans JP", sans-serif;
}

.header {
  height: 60px;
  width: 100%;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
}
.header__logo {
  height: 20%;
}
.header__logo > img {
  height: 100%;
}
.header .btn {
  height: 36px;
  width: 186px;
  font-size: 12px;
  display: none;
}
.header.h-scroll {
  background-color: #fff;
  opacity: 0;
  animation-name: kf-h-scroll;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
}
.header.h-scroll .btn {
  display: block;
}

.mv {
  padding-top: 60px;
  position: relative;
  z-index: 0;
}
.mv__content {
  margin-top: 103px;
}
.mv__content::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 410px;
  width: 71%;
  z-index: -1;
  border-radius: 0 0 0 10%;
  background-image: url(img/bg_mv.png);
  background-position: center;
  background-size: cover;
}
.mv__title > .pink {
  font-size: 34px;
  padding: 0 4px;
}
.mv__sub-title {
  font-size: 12px;
  background-color: #fff;
  margin-top: 10px;
  display: inline-block;
  padding-right: 15%;
}
.mv .btn {
  height: 45px;
  width: 220px;
  margin-top: 15px;
}

.slogan {
  margin-top: 50px;
}
.slogan__title {
  font-size: 56px;
  color: #EB51C2;
  text-align: center;
  line-height: 1em;
  font-style: italic;
}
.slogan__sub-title {
  font-size: 16px;
  text-align: center;
}
.slogan__discription {
  margin-top: 25px;
  font-family: "Noto Sans JP";
  width: 100%;
  font-size: 15px;
  line-height: 1.8em;
}

.feature {
  margin-top: 30px;
}
.feature__img {
  width: 100%;
}
.feature__card-container {
  margin-bottom: 35px;
  opacity: 0;
}
.feature__card-container.inview {
  animation-name: kf-fade-in-feature;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-delay: 0.2s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
}
.feature__card__training, .feature__card__food {
  transform: translateY(-5px);
}
.feature__title__training {
  font-size: 18px;
  color: #EB51C2;
}
.feature__title__food {
  font-size: 18px;
  color: #00B21B;
}
.feature__copy__training, .feature__copy__food {
  font-family: "Noto Sans JP";
  font-size: 22px;
  line-height: 1.5em;
  margin-top: 15px;
}
.feature__description__training, .feature__description__food {
  font-family: "Noto Sans JP";
  font-size: 14px;
  line-height: 1.5em;
  margin-top: 25px;
}
.feature .btn {
  display: block;
  margin: 0 auto;
}

.pink {
  color: #EB51C2;
}

.trainer {
  margin-top: 55px;
  position: relative;
}
.trainer__continer {
  background-color: #EB51C2;
  padding: 40px 20px;
}
.trainer__content {
  display: none;
  opacity: 0;
}
.trainer__content.active {
  display: block;
  animation-name: kf-fade-in-trainer;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-delay: 0.2s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
}
.trainer__title {
  font-size: 40px;
  color: #fff;
}
.trainer__title-jp {
  font-size: 14px;
  color: #fff;
}
.trainer__switching {
  display: flex;
  width: 100%;
}
.trainer__switching__t, .trainer__switching__s {
  font-size: 16px;
  color: #fff;
  background: none;
  border: none;
  height: 35px;
  line-height: 35px;
  margin-bottom: 20px;
  text-align: center;
  flex-basis: 50%;
  text-decoration: none;
}
.trainer__switching__t.active, .trainer__switching__s.active {
  border-bottom: 2px solid #fff;
}
.staff__content {
  display: none;
  opacity: 0;
}
.staff__content.active {
  display: block;
  animation-name: kf-fade-in-trainer;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-delay: 0.2s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
}
.studio__container {
  padding-bottom: 25px;
}
.studio__title, .price__title {
  font-size: 40px;
  font-weight: 300;
}
.studio__title-jp, .price__title-jp {
  font-size: 14px;
  color: #EB51C2;
}
.studio .swiper-container {
  position: relative;
  width: 100%;
  margin: 0 auto;
}
.studio .swiper-container .swiper-pagination {
  bottom: -30px !important;
}
.studio .sample-slider img {
  width: 100%;
}
.studio .swiper-pagination-bullet {
  margin: 0 0 0 10px !important;
  background: #333 !important;
}
.studio .swiper-pagination-bullet-active {
  background: #EB51C2 !important;
}
.studio .swiper-pagination-bullet:first-child {
  margin: 0 !important;
}
.studio .swiper-button-prev {
  left: -17px !important;
}
.studio .swiper-button-next {
  right: -17px !important;
}
.price__title-container {
  background-color: #EB51C2;
  padding-bottom: 25px;
}
.price__container {
  width: 100%;
  background-color: #EB51C2;
  padding-bottom: 25px;
  white-space: nowrap;
  overflow-x: auto;
  position: relative;
}
.price__title {
  color: #fff;
}
.price__title-jp {
  color: #fff;
}
.price__scroll {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  width: 80px;
  height: 70px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  border-radius: 5%;
  text-align: center;
  z-index: 2;
  opacity: 0;
}
.price__scroll > .size {
  font-size: 45px;
}
.price__scroll__text {
  font-size: 12px;
  margin-top: -10px;
}
.price__scroll .active {
  opacity: 1;
}
.price__card {
  width: 320px;
  padding: 40px 20px 0;
  margin-left: 20px;
  border-radius: 8px;
  background-color: #fff;
  text-align: center;
  display: inline-block;
  position: relative;
  z-index: 0;
}
.price__card:first-child {
  margin-left: 0;
}
.price__card__title {
  font-size: 26px;
  font-weight: 700;
  color: #EB51C2;
  margin-bottom: 10px;
}
.price__recommendation {
  position: absolute;
  top: -25px;
  left: 50%;
  width: 80%;
  font-size: 20px;
  font-weight: 700;
  color: #EB51C2;
  background-color: #fff;
  padding: 7px;
  border-radius: 25px;
  border: 2px solid #EB51C2;
  transform: translateX(-50%);
}
.price__payment {
  font-size: 48px;
}
.price__box {
  padding: 20px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
.price__box.price {
  padding: 0 0 20px;
}
.price__box:last-child {
  border-bottom: none;
}
.price__box__title {
  font-size: 18px;
  margin-bottom: 5px;
}
.price__box__title__details {
  font-size: 16px;
  font-weight: 700;
}

.svg__content {
  width: 100%;
}

.top {
  transform: translateY(1.5px);
}

.bottom {
  transform: translateY(-1px);
}

.cover-slide {
  position: relative;
  display: inline-block;
}
.cover-slide::after {
  content: "";
  position: absolute;
  z-index: 2;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #EB51C2;
}
.cover-slide.inview::after {
  animation-name: kf-cover-slide;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

.title-display {
  font-size: 42px;
  font-weight: 400;
  height: 100%;
  font-style: italic;
  display: inline-block;
  line-height: 1.1em;
  background-color: #fff;
  opacity: 0;
}
.inview .title-display {
  opacity: 1;
  animation-name: kf-title-display;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

@keyframes kf-cover-slide {
  0% {
    left: 0;
    right: 100%;
  }
  50% {
    left: 0;
    right: 0;
  }
  100% {
    left: 100%;
    right: 0;
  }
}
@keyframes kf-title-display {
  0%, 50% {
    opacity: 0;
  }
  50.1%, 100% {
    opacity: 1;
  }
}
@keyframes kf-h-scroll {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes kf-fade-in-feature {
  0% {
    transform: translateY(10%);
    opacity: 0;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}
@keyframes kf-fade-in-trainer {
  0% {
    transform: translateY(5%);
    opacity: 0;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}/*# sourceMappingURL=style.css.map */